nz-layout {
    background: none;
}
.hourColumn {
    min-height:48px !important;
}
.boxElement {
    background: blue;
    border: 1px solid;
    margin: 2px;
}

// ::ng-deep .ant-modal-body {
//     padding:0 !important
// }

// ::ng-deep .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
//     padding: 3px;
// }
// ::ng-deep .ant-modal-header {
//     padding: 0px;
// }

::ng-deep .ant-timeline-item {
    padding-bottom: 30px;
}
